<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAMES</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="style.css">


</head>
<body onload="flames()">

    <div id="names">
        <p>Your  Name: &nbsp;<span id="fName"><%=fname%> </span></p>
        <p>Crush Name: <span id="SName"><%=sname%></span> </p>
        <p id="n">No of remaining letters: <span class="btn btn-danger" id="nletters"></span></p>
    </div>

    <div id="flames">
        <p id="flames-text">FLAMES</p>
    </div>

    
        
    <p id="result"></p>

    <script type="text/javascript">
        
    </script>

</body>
</html>